.forms {
  @apply absolute left-0 top-0 h-full w-full bg-red-900;
}
.form_item {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}
.sign-in {
}
.sign-up {
}
