.forms {
  @apply absolute left-0 top-0 h-full w-full bg-white dark:bg-gray-900;
}
.forms.active {
  @apply bg-red-700;
}
.form-items {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}
.form_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.sign-in {
  opacity: 0;
  z-index: 1;
}
.sign-up {
  z-index: 2;
}
